* {
    margin: 0;
}

body {
    background-color: #F49401;
    display: flex;
    flex-direction: row;
    font-size: larger;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    overflow: hidden;
}

img {
    width: 100px;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: gray;

    i {
        color: #F49401;
    }

}

.middle {
    color: #F49401;
    font-size: 35px;
}

.validateBtn {
    text-align: center;
    margin: 20px;

}

select {
    height: 50px;
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    background-color: #F49401;
    color: white;
    font-size: 15px;
    padding-right: 50px;
}

input {
    background-color: white;
    border: 2px solid #F49401;
    font-size: medium;
    color: #F49401;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

input:hover {
    background-color: #F49401;
    color: white;

}

.right {
    flex: 4;
    padding: 10px;
    background-color: white;
    border-radius: 25px;
    margin-top: 20px;
    margin-right: 20px;
    height: 90vh;


    .divImg {

        text-align: center;

        img {
            width: 80%;
            margin: auto;
        }
    }

    .title {
        display: flex;
        flex-direction: row;
    }


    .choiceDropDownMenu {
        display: flex;
        justify-content: space-evenly;


    }

}

.location_map {
    text-align: center;

    img {
        width: 550px;
    }

}

.from {
    position: absolute;
    right: 700px;
    bottom: 150px;
}

.listeViewTeacher {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    overflow: scroll;
    height: 85vh;
    scrollbar-width: none;

}

.card {
    display: flex;
    justify-content: space-between;
    width: 70%;
    padding: 20px;
    border-radius: 20px;
    border: 1px solid #F49401;
    box-shadow: 10px 5px 5px #f4930111;

    p {
        font-size: 15px;
    }

    .TextInfo {
        #nameStudent {
            color: #F49401;
            font-size: 25px;
            margin-bottom: 10px;
        }

        .destinationDashboard {
            color: #F49401;
        }
    }

    .emailDashboardTeacher {
        display: flex;
        justify-content: center;

        i {
            color: #F49401;
            font-size: 25px;
            margin-right: 10px;
        }
    }

    .btnSelection {
        width: 100px;
        height: 25px;
        border-radius: 10px;
        border: 1px solid #F49401;
        cursor: pointer;
    }

    #go {
        background-color: #F49401;
        color: white;
    }

    #go:hover {
        background-color: white;
        color: #F49401;
    }

    #nogo {
        background-color: white;
        color: #F49401;
    }

    .selection {
        text-align: end;
    }

    #nogo:hover {
        background-color: #F49401;
        color: white;
    }

    .selectionPart {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

    }
}

.end {
    position: absolute;
    right: 250px;
    bottom: 400px;
}

.EditBtn {
    text-align: end;
    position: absolute;
    right: 50px;
    bottom: 50px;

}

.destination {
    background-color: #F8E9CB;
    width: 175px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
    color: #F49401;
    border: 2px solid;
}

.titleAbout {
    display: flex;

    i {
        border-radius: 50%;
        padding: 10px;
        background-color: #f493017f;
        font-size: 50px;
        color: #F49401;
    }

    .titleInfo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 25px;
        gap: 5px;

        #name {
            color: #F49401;
            font-size: 30px;
        }
    }
}

hr {
    margin-top: 10px;
    width: 50%;
    color: white;
    border: 1px solid;
}

.left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    padding-left: 25px;

    .logout {
        i {
            margin-top: 10px;
            font-size: 30px;
            color: rgba(255, 255, 255, 0.5);
        }
    }
}

hr {}

.subMenuLeft {
    display: flex;
    flex-direction: column;
    margin-bottom: 450px;

    div {
        display: flex;
        gap: 20px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 25px;
    }

    .choice {
        margin-bottom: 20px;
        color: white;
    }
}

.subMenuLeftAbout {
    display: flex;
    flex-direction: column;
    margin-bottom: 450px;

    div {
        display: flex;
        gap: 20px;
        color: rgba(255, 255, 255, 0.5);
        font-size: 25px;
    }

    .about {
        margin-top: 20px;
        color: white;
    }
}


.options .option {
    display: flex;
    height: 55px;
    cursor: pointer;
    padding: 0 16px;
    border-radius: 8px;
    align-items: center;
    background: #fff;
}

.options .option:hover {
    background: #F2F2F2;
}

.option i {
    font-size: 25px;
    margin-right: 12px;
}

.option .option-text {
    font-size: 18px;
    color: #333;
}