* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F49401;
    display: grid;
    place-items: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}



.content {
    background-image: url("../Res/img/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    margin-top: 20px;
    height: 80vh;
    width: 80%;
    display: flex;
    align-items: center;
    padding: 50px;
    flex-direction: column;
    border-radius: 20px;
    gap: 8%;

    .form {
        display: flex;
        flex-direction: column;
    }

    .formBtn {
        margin: 20px auto;
        height: 40px;
        width: 200px;
        background-color: white;
        color: #F49401;
        border: 1px solid #F49401;
        border-radius: 30px;
        cursor: pointer;

    }

    .formBtn:hover {

        background-color: #F49401;
        border: 0;
        color: white;

    }

    .formText {

        width: 100%;

        height: 25px;

        border: 1px solid #ccc;

        border-radius: 5px;

        padding: 10px;

        margin: 15px 0px;
        font-size: 16px;

        font-family: Arial, sans-serif;

        background-color: #f9f9f9;

        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);

        color: #444;

        &:focus {
            border-color: #000;

        }
    }

    .right {
        flex: 1;
        padding: 0px 200px 0px 0px;

        .divForm {
            display: flex;
            flex-direction: column;
            gap: 20px;

            .loginP {
                text-align: center;
                align-items: center;
            }

            p {
                color: #F49401;
                font-size: 25px;
                margin: auto auto;
                font-weight: 600;

            }
        }

        .divSignUp {
            text-align: center;
        }

        p {

            color: gray;

            a {
                text-decoration: none;
                color: #F49401;
            }
        }
    }

    .left {
        flex: 1;

        img {
            background-repeat: no-repeat;
            background-position: center center;
            width: 70%;

        }
    }
}

.content {
    display: flex;
    flex-direction: row;
}