* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F49401;
    display: grid;
    place-items: center;
}

.left {
    

    img{
        background-repeat: no-repeat;
        background-position: center center;
        width: 70%;
        margin: 180px 50px 0px 50px;
    }
    
}

.content {
    background-image: url("../Res/img/background.png");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: white;
    margin-top: 20px;
    height: 80vh;
    width: 80%;
    display: flex;
    padding: 50px;
    flex-direction: column;
    border-radius: 20px;
    gap: 8%;
    .form {
        display: flex;
        flex-direction: column;
    }
    .right{
        flex: 1;
    }
    .left{
        flex: 1;
    }
}

.content {
    display: flex;
    flex-direction: row;
}